extends base

block header
  header.header
    nav.nav.nav--tours
        a.nav__el(href='/') All tours
    .header__logo
        img(src='/img/logo-white.png', alt='Natours logo')
  script(src='/js/login.js')
  
block content
  main.main(style='position: relative;')
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form.form
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.form__actions
          button.btn.btn--green(type='submit') Login
          a.btn.btn--green.btn--link(href='/login/forgetPassword') Forget Password ?
        .form__group.text-center
          p.form__text Don't have an account?
          a.btn.btn--green.btn--bold(href='/signup', style='font-weight: 600;') Sign Up
          
    .credentials(style='position: absolute; bottom: 10px; right: 10px; background: rgba(0,0,0,0.7); color: #fff; padding: 10px; border-radius: 5px; font-size: 14px;')
      p Credentials:
      p Mail ID: vemanabavith111@gmail.com
      p Password: password123
      p Role : admin

